<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589671942649-39c3rpv5nuibrtqct7k323ureopeljmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589671942649-39c3rpv5nuibrtqct7k323ureopeljmv</string>
	<key>API_KEY</key>
	<string>AIzaSyCRXLJSpfid1At4d7w9jJ7m-MFw8Lq7Gfo</string>
	<key>GCM_SENDER_ID</key>
	<string>589671942649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SkipLine</string>
	<key>PROJECT_ID</key>
	<string>skipline-5cd96</string>
	<key>STORAGE_BUCKET</key>
	<string>skipline-5cd96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589671942649:ios:366a3e7af399d0c5eb1528</string>
	<key>DATABASE_URL</key>
	<string>https://skipline-5cd96.firebaseio.com</string>
</dict>
</plist>